
body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

main {
    display: contents;
}

.main {
    background: #000;
    height: 100%;
    width: 100%;
}

.box {
    width: 100%;
    height: 100%;
}